services:
  - type: web
    name: your-app-name
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn main:app
    envVars:
      PYTHON_VERSION: 3.12.7
